body {
  margin: 0;
}

.menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: lightgray;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  padding: 15px;
}

.menu a {
  color: black;
  text-decoration: none;
}

.menu-btn {
  font-size: 24px;
  cursor: pointer;
  padding: 15px;
  background: #333;
  color: #fff;
  border: none;
}

#close-icon {
  cursor: pointer;
}

footer {
  position: absolute;
  margin-top: 5em;
  height: 12vh;
  padding-top: 15%%;
}
