body {
  font-family: "Agbalumo", sans-serif;
}

table {
  border: 1px solid black;
}

tr {
  padding: 0.5em;
}

th {
  background-color: black;
  color: white;
  text-align: left;
  padding: 1em;
}

.center {
  margin-left: auto;
  margin-right: auto;
  width: 55%;
}
